<div class="box">
    <h2>
        Backup
    </h2>

    <br />
    <h3>Snapshots</h3>

    <div id="logFetchStatus">
      <img alt="Loading..." src="../../Images/ajax-loader.gif" />&nbsp;  Acquiring snapshots...
    </div>

    <ul id="snapshotList">    
    </ul>

    @Html.ActionLink("Create new snapshot...", "NewSnapshot", "Backup")

    <hr />
    <h3>Backups</h3>
    <ul>
    <li>
        June 5th, 2012 1:30:24 PM (<a href="#">Download</a> | <a href="#">Delete</a>)
    </li>
    </ul>
</div>
