<div class="box">
    <h2>
        Backup
    </h2>

    <br />
    <h3>Snapshots</h3>
    <ul>
    <li>
        June 5th, 2012 1:30:24 PM (<a href="#">Create backup</a> | <a href="#">Delete</a>)
    </li>
    </ul>

    @Html.ActionLink("Create new snapshot...", "CreateSnapshot")

    <hr />
    <h3>Backups</h3>
    <ul>
    <li>
        June 5th, 2012 1:30:24 PM (<a href="#">Download</a> | <a href="#">Delete</a>)
    </li>
    </ul>
</div>
