@model MongoDB.WindowsAzure.Manager.Models.ReplicaSetStatus
@{
    ViewBag.Title = "MongoDB Status";
}
@Html.Partial("_Flash")
<h2>
    MongoDB Status
</h2>
<h4>
    Replica Set: @Model.Status
</h4>
@if (Model.Servers.Count > 0)
{   
    <table class="table table-striped table-bordered">
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Health
            </th>
            <th>
                State
            </th>
            <th>
                Last Heart Beat
            </th>
            <th>
                Last Operation
            </th>
            <th>
                Ping (to Primary)
            </th>
        </tr>
        @foreach (var server in Model.Servers)
        {
            @Html.Partial("_ServerRow", (MongoDB.WindowsAzure.Manager.Models.ServerStatus) server)
        }
    </table>
}