*.suo
*.user
obj
bin
ServiceDefinition.build.csdef
ServiceConfiguration.Cloud.cscfg
csx
*.cer
*.pfx
downloadtemp
MongoDBBinaries
*.bak
src/MongoDB.WindowsAzure.Deploy/Profiles/mongoreplicasettestProduction.azurePubxml
