@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "MongoDB Connection Error";
}
 
<h2>A Database Connection Error Has Occurred</h2>
 
@if (Model != null)
{
    <p>@Model.Exception.GetType().Name<br />
    thrown in @Model.ControllerName @Model.ActionName</p>
}