@model MongoDB.WindowsAzure.Manager.Models.ReplicaSetStatus
@{
    ViewBag.Title = "MongoDB Status";
}
<h2>
    System Status</h2>
@if ( Model.servers.Count > 0 )
{
    <b>Replica Set:</b> @Model.name
    
    <div class="servers">
        @foreach ( var server in Model.servers )
        {
            @Html.Partial( "_Server", server )
        }
    </div>
}
else
{
    <b>Replica Set:</b> @Model.name
}
