@model MongoDB.WindowsAzure.Manager.Models.ReplicaSetStatus

@{
    ViewBag.Title = "MongoDB Status";
}
<h2>
    Replica Set Status</h2>
    
@if ( Model.servers.Count > 0 )
{
    <h4>
        Replica Set : @Html.DisplayFor( modelItem => Model.name )</h4>
    <table id="serversTable" class="table table-striped table-bordered">
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Health
            </th>
            <th>
                State
            </th>
            <th>
                Last Heart Beat
            </th>
            <th>
                Last Operation
            </th>
            <th>
                Ping (to Primary)
            </th>
        </tr>

    </table>
}
else
{
    <h4>
        Replica Set Status: @Html.DisplayFor( modelItem => Model.name )</h4>
}